// 正方形
@media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 17/13) {
  $display-bottom: 70vh;
  $display-margin: 2vw;
  $display-result-font-size: 12vh;
  $display-result-margin: 2vh;

  $button-width: 20vw;
  $button-height: 12vh;
  $button-margin-vertical: 1vh;
  $button-margin-horizontal: 2vw;

  $button-font-size: 6vh;

  #display {
    bottom: $display-bottom;

    margin: $display-margin;

    #result {
      font-size: $display-result-font-size;
      margin: $display-result-margin;
    }
  }

  #input {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;

    width: 100vw;
  }

  #function {
    display: none;
  }

  button.normal {
    width: $button-width;
    height: $button-height;

    margin-top: $button-margin-vertical;
    margin-bottom: $button-margin-vertical;
    margin-left: $button-margin-horizontal;
    margin-right: $button-margin-horizontal;

    font-size: $button-font-size;
  }

  button.wide {
    width: calc($button-width * 2 + $button-margin-horizontal * 2);
    height: $button-height;

    margin-top: $button-margin-vertical;
    margin-bottom: $button-margin-vertical;
    margin-left: $button-margin-horizontal;
    margin-right: $button-margin-horizontal;

    font-size: $button-font-size;
  }

  button.func {
    display: none;
  }
}

// 横長
@media (min-aspect-ratio: 17/13) {
  $display-bottom: 70vh;
  $display-margin: 2vw;
  $display-result-font-size: 12vh;
  $display-result-margin: 2vh;

  $button-width: 8vw;
  $button-height: 12vh;
  $button-margin-vertical: 1vh;
  $button-margin-horizontal: 0.9vw;

  $button-font-size: 6vh;

  #display {
    bottom: $display-bottom;

    margin: $display-margin;

    #result {
      font-size: $display-result-font-size;
      margin: $display-result-margin;
    }
  }

  #input {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 0vw;
    padding-right: 0.5vw;

    width: 40vw;
  }

  #function {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 0.5vw;
    padding-right: 0vw;

    width: 60vw;
  }

  button.normal {
    width: $button-width;
    height: $button-height;

    margin-top: $button-margin-vertical;
    margin-bottom: $button-margin-vertical;
    margin-left: $button-margin-horizontal;
    margin-right: $button-margin-horizontal;

    font-size: $button-font-size;
  }

  button.wide {
    width: calc($button-width * 2 + $button-margin-horizontal * 2);
    height: $button-height;

    margin-top: $button-margin-vertical;
    margin-bottom: $button-margin-vertical;
    margin-left: $button-margin-horizontal;
    margin-right: $button-margin-horizontal;

    font-size: $button-font-size;
  }

  button.func {
    font-size: calc($button-font-size * 0.6);
  }
}

// 縦長
@media (max-aspect-ratio: 9/16) {
  $display-bottom: 120vw;
  $display-margin: 2vw;
  $display-result-font-size: 20vw;
  $display-result-margin: 2vw;

  $button-width: 20vw;
  $button-height: 20vw;
  $button-margin: 2vw;

  $button-font-size: 10vw;

  #display {
    bottom: $display-bottom;

    margin: $display-margin;

    #result {
      font-size: $display-result-font-size;
      margin: $display-result-margin;
    }
  }

  #input {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;

    width: 100vw;
  }

  #function {
    display: none;
  }

  button.normal {
    width: $button-width;
    height: $button-height;

    margin: $button-margin;

    font-size: $button-font-size;
  }

  button.wide {
    width: calc($button-width * 2 + $button-margin * 2);
    height: $button-height;

    margin: $button-margin;

    font-size: $button-font-size;
  }

  button.func {
    display: none;
  }
}

html {
  background-color: black;
  touch-action: manipulation;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;

  background-color: black;

  font-family: sans-serif;
}

#display {
  position: absolute;
  right: 0;

  text-align: right;

  #result {
    color: white;
  }
}

#input {
  position: absolute;
  bottom: 0;
  right: 0;
}

#function {
  position: absolute;
  bottom: 0;
  left: 0;
}

button {
  border: 0;
  padding: 0;
}

button.normal {
  border-radius: 100vh;

  text-align: center;
}

button.wide {
  border-radius: 100vh;

  text-align: center;
}

button.number {
  color: #fff;
  background-color: #333;
}

button.util {
  color: #000;
  background-color: #929288;
}

button.op {
  color: #fff;
  background-color: #e90;
}

button.func {
  color: #fff;
  background-color: #222;
}

p.debug {
  font-size: 16px;
  color: #666;
}
